// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;
// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;
// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$pink: #d03656;
$white: #fff;
$purple:#8262b5;
$orange: #E18B1D;
$orange-mixin: #86510b;
$black:#18212e;
$gray:#7b7f85;
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$gloria: 'Gloria Hallelujah',
cursive;
$popin: 'Poppins',
sans-serif;
// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;